PORT=3000
AUTH_REQUIRED=false

SUPABASE_URL=""
REQUIRE_SUPABASE_DUPLICATE_CHECK=true

ENABLE_LOCAL_PERSISTENCE=false
REQUIRE_LOCAL_DUPLICATE_CHECK=false
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""
SUPABASE_TABLE_AUXILIARES="profiles"
SUPABASE_TABLE_VISITAS="visitas_lancamentos"
